<script>

    var data = "<%= Data  %>"
    sessionStorage["token"] ="<%=Data.token%>"
    sessionStorage["id"] ="<%=Data._id%>"
    
    
        function movies(){
        alert(sessionStorage["token"])
            location.href = "/movies/?token="+sessionStorage["token"];
        }
        function subscription(){
        alert(sessionStorage["token"])
            location.href = "/subscription/?token="+sessionStorage["token"];
        }
        
        function user(){
        alert(sessionStorage["token"])
            location.href = "/user/?token="+sessionStorage["token"];
        }
        function logOut(){
        sessionStorage["token"]=''
            location.href = "/auth";
        }
        
        function userManagement(){
        alert(sessionStorage["token"])
            location.href = "/users/?token="+sessionStorage["token"];
        }
        </script>
        <html>
            <body>
              <button onclick="movies()">  <a  id="movies" >movies</a></button>  <button onclick="subscription()">subscription</button>  <button onclick="userManagement()">user management</button> <button onclick="logOut()">log out</button> 
    
        <form action="/users/savedata" method="POST">
Edit User
<br>
            <input  type="hidden" name="id" value="<%= user.id %>"><br/>
            username : <input type="text" name="username" value="<%= user.username %>"><br/>
            Fname : <input type="text" name="Fname" value="<%= user.Fname %>"><br/>
            Lname : <input type="text" name="Lname" value="<%= user.Lname %>"><br/>
            CreateDate : <input readonly type="text" name="CreateDate" value="<%= user.CreateDate %>"  ><br/>
            SessionTimeOut : <input type="text" name="SessionTimeOut" value="<%= user.SessionTimeOut %>"><br/>
           
            <label class="container">View Subscriptions
                <% if(user.Permissions[0]){ %>
                    <input type="checkbox" checked name=0 >
                  <% } else{ %>  
                    <input type="checkbox"  name=0 >
                 <% } %>


          
             
                <br/>
                <label class="container">vehCreate Subscriptionsicle
                    <% if(user.Permissions[1]=='on'){ %>
                        <input type="checkbox" checked name=1 >
                      <% } else{ %>  
                        <input type="checkbox"  name=1 >
                     <% } %>
                    <br/>
                    <label class="container">Delete Subscriptions
                        <% if(user.Permissions[2]=='on'){ %>
                            <input type="checkbox" checked name=2 >
                          <% } else{ %>  
                            <input type="checkbox"  name=2 >
                         <% } %>
                        <br/>
                        <label class="container">Update Subscription
                            <% if(user.Permissions[3]=='on'){ %>
                                <input type="checkbox" checked name=3 >
                              <% } else{ %>  
                                <input type="checkbox"  name=3 >
                             <% } %>
                            <br/>
                            <label class="container">View Movies
                                <% if(user.Permissions[4]=='on'){ %>
                                    <input type="checkbox" checked name=4 >
                                  <% } else{ %>  
                                    <input type="checkbox"  name=4 >
                                 <% } %>
                                <br/>
                                <label class="container">Create Movies
                                    <% if(user.Permissions[5]=='on'){ %>
                                        <input type="checkbox" checked name=5 >
                                      <% } else{ %>  
                                        <input type="checkbox"  name=5 >
                                     <% } %>
                                    <br/>
                                    <label class="container">Delete Movies
                                        <% if(user.Permissions[6]=='on'){ %>
                                            <input type="checkbox" checked name=6 >
                                          <% } else{ %>  
                                            <input type="checkbox"  name=6 >
                                         <% } %>
                                        <br/>
                                        <label class="container">Update Movie
                                            <% if(user.Permissions[7]=='on'){ %>
                                                <input type="checkbox" checked name=7 >
                                              <% } else{ %>  
                                                <input type="checkbox"  name=7>
                                             <% } %>
                                  
                                            <input type="submit" value="Save">
        </form>

    </body>
</html>