<!DOCTYPE html>
<script>

var data = "<%= Data  %>"
sessionStorage["token"] ="<%=Data.token%>"
sessionStorage["id"] ="<%=Data._id%>"

</script>
<html>
  <head>
 
  </head>
  <body>
    
    <a href="/movies?token=<%=Data.token%>">
      <button>members</button>
   </a>
   
   <br>
   <br>

   <a href="/members?token=<%=Data.token%>">
    <button>members</button>
 </a>
 <p id="source"></p>



  </body>
</html>
